<%= simple_form_for(@plot) do |f| %>
  <div class="form-group">
    <%= f.input :name%>
    <%= f.input :cementary_name %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <div class="btn-form">
      <%= f.submit %>
    </div>
<% end %>
