<div class="container">
  <div class="d-flex justify-content-center plot-banner">

    <% @user.plots.each do |p| %>
      <div class="photo">
        <%= cl_image_tag(p.photo) %>
      </div>
      <div class="card bg-light col-6 p-5 pb-1">
        <div class="name">
          <h1><%= @plot.name %></h1>
        </div>
        <p><strong>Plot Description: </strong> <%= p.description %></p>
          <% if user_signed_in? %>
            <%= link_to "Book Plot", new_plot_booking_path(@plot[:id]), class:"btn btn-secondary" %>
          <% else %>
            <%= link_to "Book Plot", new_user_registration_path, class:"btn btn-secondary" %>
          <% end %>

        </br>
        <p><%= link_to "Back to all plots", plots_path %></p>
      </div>
    <% end %>

  </div>
</div>

<!-- add button to link to booking -->
