<div class="container">
  <div class="d-flex justify-content-center plot-banner">
    <div class="row">

      <div class="col-6">
        <%= cl_image_tag(@plot.photo) %>
      </div>
      <div class="card bg-light col-6 p-5">
        <div class="name">
          <h1><%= @plot.name %></h1>
        </div>
          <h2>$<%= @plot.price %> per 10 Years</h2>
        <p><strong>Plot Description: </strong> <%= @plot.description %></p>
          <% if user_signed_in? %>
            <%= link_to "Book Plot", new_plot_booking_path(@plot[:id]), class:"btn btn-secondary" %>
          <% else %>
            <%= link_to "Book Plot", new_user_registration_path, class:"btn btn-secondary" %>
          <% end %>

        </br>
        <p><%= link_to "Back to all plots", plots_path %></p>
      </div>
    </div>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  <div class="show-page-reviews">
    <h1>Reviews</h1>
        <% @plot.reviews.each do |review| %>
          <p><%= review.user.first_name %></p>
          <p><%= review.satisfaction%></p>
          <em>"<%= review.comments %>"</em>
          <p><%= link_to 'Destroy', booking_review_path(@plot), method: :delete, data:{ confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
</div>

<!-- add button to link to booking -->
