<div class="container">
  <div class="d-flex justify-content-center plot-banner">
    <div class="row">

      <div class="col-6">
        <%= cl_image_tag(@plot.photo) %>
      </div>
      <div class="card bg-light col-6 p-5">
        <div class="plot-name">
          <p><%= @plot.name %></p>
        </div>

        <div class="star-rating">
          <% if @plot.reviews.blank? %>
            <% else %>
              <%= @avg_review.to_i.times do %>
              <i class="fas fa-star"></i>
          <% end %>
          <scan>out of 5<scan>
          <br>
          <em><%= link_to " #{@plot.reviews.length} review".pluralize(1), "#show-page-reviews"%></em>
              <% end %>
        </div>

        <div class="plot-price">
          <h2>$<%= @plot.price %> per 10 Years</h2>
        </div>

        <div class="plot-description">
          <p><strong>Plot Description: </strong> <%= @plot.description %></p>
        </div>

          <% if user_signed_in? %>
            <%= link_to "Book Plot", new_plot_booking_path(@plot[:id]), class:"btn btn-secondary" %>
          <% else %>
            <%= link_to "Book Plot", new_user_registration_path, class:"btn btn-secondary" %>
          <% end %>
          </br>
        <p><%= link_to "Back to all plots", plots_path %></p>
      </div>
    </div>
  </div>

  <div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

  <div id="show-page-reviews">
    <h1>Reviews</h1>
      <%if @plot.reviews.blank? %>
        <em>There are currently no reviews for this plot.<em>
      <% else %>
        <% @plot.reviews.each do |review| %>
          <p><%= review.user.first_name %></p>
          <% review.satisfaction.to_i.times do %>
            <i class="fas fa-star"></i>
            <% end %>
            <br>
          <em>"<%= review.comments %>"</em>
        <% end %>
      <% end %>
      </div>
  </div>
</div>


<!-- add button to link to booking -->
