<div class="container">


  <h1>Your bookings</h1>
  <div class="row">
    <% @bookings.each do |booking| %>

        <div class="col-sx-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card-product">
            <%= cl_image_tag booking.plot.photo %>
            <div class="card-product-infos">
              <h2><%= link_to booking.plot.name, plot_path(booking.plot) %></h2>
              <p> <strong>Start Date:</strong> <%= booking.start_date %></p>
              <!-- <p><%= booking.plot.description.truncate(90) %></p> -->
              <p><%= link_to "Modify Booking", edit_booking_path(booking) %></p>
              <p><%= link_to "Cancel Booking", booking_path(booking),  method: :delete %></p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
