<div class="container">
  <h1 class="">Hello <%= current_user.first_name %></h1>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">General Information</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Email</th>
        <td><%= current_user.email %></td>
      </tr>

      <tr>
        <th scope="row">First Name</th>
        <td><%= current_user.first_name %></td>
      </tr>

      <tr>
        <th scope="row">Last Name</th>
        <td><%= current_user.last_name %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to "Edit Profile", edit_user_registration_path(current_user[:id]) %>

  <h1>Your bookings</h1>
  <div class="row">
    <% current_user.bookings.each do |booking| %>

        <div class="col-sx-12 col-sm-6 col-md-6 col-lg-4">
          <div class="card-product">
            <%= cl_image_tag booking.plot.photo %>
            <div class="card-product-infos">
              <h2><%= link_to booking.plot.name, plot_path(booking.plot) %></h2>
              <p> <strong>Start Date:</strong> <%= booking.start_date %></p>
              <p><strong>Total Price:</strong> $<%= booking.plot.price * (booking.date_range / 10) %></p>
              <div class="current-booking-options">
                <p><%= link_to "Modify", edit_booking_path(booking) %></p>
                <p><%= link_to "Cancel", booking_path(booking),  method: :delete %></p>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <h1>Your listings</h1>
    <div class="row">
      <% current_user.plots.each do |plot| %>
         <div class="col-sx-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card-product">
              <%= cl_image_tag plot.photo %>
              <div class="card-product-infos">
                <h2><%= link_to plot.name, plot_path(plot) %></h2>
                <p><strong>Price per 10 Years:</strong> $<%= plot.price %></p>
                <div class="current-booking-options">
                <p><%= link_to "Modify", edit_plot_path(plot) %></p>
                <p><%= link_to "Remove", plot_path(plot),  method: :delete %></p>
              </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>



</div>




