<div class="container">
  <h1 class="">Hello <%= @user.first_name %></h1>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">General Information</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Email</th>
        <td><%= @user.email %></td>
      </tr>

      <tr>
        <th scope="row">First Name</th>
        <td><%= @user.first_name %></td>
      </tr>

      <tr>
        <th scope="row">Last Name</th>
        <td><%= @user.last_name %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to "Edit Profile", edit_user_registration_path(@user[:id]) %>

  <div>
    <h1>Your bookings</h1>
    <div class="row">
      <% @bookings.each do |booking| %>
         <div class="col-sx-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card-product">
              <%= cl_image_tag booking.plot.photo %>
              <div class="card-product-infos">
                <h2><%= link_to booking.plot.name, plot_path(booking.plot) %></h2>
                <p>Date</p>
                <p><%= booking.plot.description.truncate(90) %></p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>

  <div>
    <h1>Your listings</h1>
    <div class="row">
      <% @bookings.each do |booking| %>
         <div class="col-sx-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card-product">
              <%= cl_image_tag booking.plot.photo %>
              <div class="card-product-infos">
                <h2><%= link_to booking.plot.name, plot_path(booking.plot) %></h2>
                <p>Date</p>
                <p><%= booking.plot.description.truncate(90) %></p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  </div>

</div>



