<div class="container">
  <h1 class="">Hello <%= @user.first_name %></h1>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">General Information</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Email</th>
        <td><%= @user.email %></td>
      </tr>

      <tr>
        <th scope="row">First Name</th>
        <td><%= @user.first_name %></td>
      </tr>

      <tr>
        <th scope="row">Last Name</th>
        <td><%= @user.last_name %></td>
      </tr>
    </tbody>
  </table>

 <%= render template: 'devise/registrations/edit' %>

</div>
