<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Death Bed</title>

    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel|=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>

    <% if content_for? :nav %>
      <%= render 'layouts/shared/navbar_home' %>
    <% else %>
     <%= render 'layouts/shared/navbar' %>
    <% end %>

    <div class="style">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render 'layouts/shared/footer' %>

  </body>
</html>


